.arrow {
  border: solid White;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 25px;
  &__up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  &__down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
